/* In BEM notation */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(123, 91, 123);
}

canvas {
  box-shadow: 0px 0px 100px 100px rgb(220, 160, 227);
}

.container {
  position: relative;
  display: inline-block;
}

.newjeans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.timer-bar {
  display: flex;
  font-family: Consolas, monospace;
  font-size: 2rem;
  background-color: rgba(194 13 13 / 65%);
  height: 100px;
  width: 100px;
  border: 1px solid rgba(237, 229, 229, 0.6);
  border-radius: 10%;
  color: white;
  flex-shrink: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.playerContainer {
  border-radius: 0 0 0 100px;
  box-shadow: -10px 0px 15px 9px rgb(82, 83, 82);
}

.playerContainer,
.enemyContainer {
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 100%;
}

.player-health-bar,
.enemy-health-bar {
  background-color: rgb(92, 92, 92);
  height: 30px;
  width: 100%;
}

.playerCurrHealth,
.enemyCurrHealth {
  position: absolute;
  background: rgb(85 255 47 / 60%);
  transition: ease-in-out 0.2s;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.enemyContainer {
  border-radius: 0 0 100px 0;
  box-shadow: 10px 0px 15px 9px rgb(82, 83, 82);
}

.enemyCurrHealth {
  left: 0;
}

.result {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
