/* In BEM notation */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(123, 91, 123);
}

canvas {
  box-shadow: 0px 0px 100px 100px rgb(220, 160, 227);
}

.container {
  position: relative;
  display: inline-block;
}

.newjeans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.timer-bar {
  display: flex;
  font-family: Consolas, monospace;
  font-size: 2rem;
  background-color: rgba(194 13 13 / 65%);
  height: 100px;
  width: 100px;
  border: 1px solid rgba(237, 229, 229, 0.6);
  border-radius: 10%;
  color: white;
  flex-shrink: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.playerContainer {
  border-radius: 0 0 0 100px;
  box-shadow: -10px 0px 15px 9px rgb(82, 83, 82);
}

.playerContainer,
.enemyContainer {
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 100%;
}

.player-health-bar,
.enemy-health-bar {
  background-color: rgb(92, 92, 92);
  height: 30px;
  width: 100%;
}

.playerCurrHealth,
.enemyCurrHealth {
  position: absolute;
  background: rgb(85 255 47 / 60%);
  transition: ease-in-out 0.2s;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.currHealth--halfHP {
  background-color: rgb(245 245 24);
}

.currHealth--criticalHP {
  background-color: rgb(245 24 24);
}

.enemyContainer {
  border-radius: 0 0 100px 0;
  box-shadow: 10px 0px 15px 9px rgb(82, 83, 82);
}

.enemyCurrHealth {
  left: 0;
}

.cooldownbox {
  position: absolute;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px;
  border-radius: 15px;
}

.playerCooldownAttack2 {
  --cooldown: 360deg;
  top: 50%;
  left: 10%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/87792/fireball-red-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.playerCooldownAttack2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    transparent 0 var(--cooldown),
    rgb(150 150 150 / 0.5) var(--cooldown),
    rgb(150 150 150 / 0.5) 360deg
  );
  border-radius: 15px;
}

.playerCooldownAbility {
  top: 100%;
  left: 0;
}

.enemyCooldownAttack2 {
  top: 50%;
  right: 10%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/87792/enchant-acid-3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.enemyCooldownAbility {
  top: 100%;
  right: 0;
}

.result {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
}

.result--active {
  display: flex;
}

.gameOver {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width:  100%;
  position: absolute;
  align-items: center;
  justify-content: center;
}

#gameHome {
  position: relative;
  padding: 30px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

#gameRestart {
  position: relative;
  padding: 30px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.gameOver--active {
  display: flex;
}